@model SFA.DAS.EmployerIncentives.Web.Models.PaymentStatusModel

@if (Model != null)
{
    @if (!Model.LearnerMatchFound)
    {
        <p class="govuk-body govuk-!-margin-bottom-0">Training provider needs to confirm they have started their apprenticeship</p>
    }
    @if (Model.HasDataLock)
    {
        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Payment issue</strong>
        <p class="govuk-body govuk-!-margin-bottom-0">Contact your training provider to check that your information matches</p>
    }
    @if (!Model.InLearning)
    {
        <p class="govuk-body govuk-!-margin-bottom-0">Apprenticeship paused or stopped</p>
    }
}


