@using System.Globalization
@model SFA.DAS.EmployerIncentives.Web.Models.PaymentStatusModel

@{
    var culture = new CultureInfo("en-GB");
}

@if (Model != null && !Model.IsClawedBack) 
{
    @if ((Model.PaymentSent || Model.PaymentSentIsEstimated) && Model.LearnerMatchFound && !Model.PausePayments && Model.InLearning && !Model.HasDataLock)
    {
        if (!Model.DisplayEmploymentCheckResult || !Model.EmploymentCheckPassed.HasValue || Model.EmploymentCheckPassed.Value)
        { 
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">@(Model.PaymentSentIsEstimated ? "Estimated" : "Payment sent")</p>
            <p class="govuk-body govuk-!-margin-bottom-0">@(Model.PaymentDate.HasValue ? Model.PaymentDate.Value.ToString("MMMM yyyy", culture) : "")</p>
            <p class="govuk-body das-!-color-dark-grey govuk-!-margin-bottom-0">@(Model.PaymentAmount.HasValue ? Model.PaymentAmount.Value.ToString("C0", culture) : "")</p>
        }
    }
}