@using System.Globalization
@model SFA.DAS.EmployerIncentives.Web.Models.PaymentStatusModel

@{
    var culture = new CultureInfo("en-GB");
}

@if (Model != null)
{
    @if (Model.DisplayEmploymentCheckResult && !Model.EmploymentCheckPassed)
    {
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Application ineligible</p>
        <p class="govuk-body govuk-!-margin-bottom-0" data-paragraphtype="application-ineligible">Apprentice and/or employer details are ineligible</p>
    }
    else if (Model.PaymentIsStopped)
    {
        <p class="govuk-body govuk-!-margin-bottom-0" data-paragraphtype='view-agreement-stopped'>Apprenticeship paused or stopped</p>
    }
    else if (Model.WithdrawnByEmployer)
    {
        <p class="govuk-body govuk-!-margin-bottom-0" data-paragraphtype='view-agreement-withdrawnByEmployer'>Application cancelled</p>
    }
    else if (Model.WithdrawnByCompliance)
    {
        <p class="govuk-body govuk-!-margin-bottom-0" data-paragraphtype='view-agreement-withdrawnByCompliance'>Application rejected</p>
    }
    else if (!Model.IsClawedBack)
    {
        @if (!Model.LearnerMatchFound && !Model.PausePayments)
        {
            <p class="govuk-body govuk-!-margin-bottom-0">Training provider needs to confirm they have started their apprenticeship</p>
        }
        @if (Model.LearnerMatchFound && Model.HasDataLock)
        {
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Payment issue</strong>
            <p class="govuk-body govuk-!-margin-bottom-0">Contact your training provider to check that your information matches</p>
        }
        @if (Model.RequiresNewEmployerAgreement)
        {
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">Payment issue</strong>
            <p class="govuk-body govuk-!-margin-bottom-0">Accept a <a test-id="payment-status-view-agreement" class="govuk-link" data-linktype="payment-status-view-agreement" href="@Model.ViewAgreementLink">new employer agreement</a></p>
        }
        @if (Model.LearnerMatchFound && !Model.InLearning)
        {
            <p class="govuk-body govuk-!-margin-bottom-0">Apprenticeship paused or stopped</p>
        }
        @if (Model.PausePayments)
        {
            <p class="govuk-body govuk-!-margin-bottom-0">Application paused</p>
        }
    }
}