@model SFA.DAS.EmployerIncentives.Web.ViewModels.Applications.NoApplicationsViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/payments/no-applications";
    ViewData["ZenDeskLabels"] = "ei-no-applications";
}

<a asp-action="Index" asp-controller="Hub" asp-route-accountid="@Model.AccountId" asp-route-accountlegalentityid="@Model.AccountLegalEntityId" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">@Model.Title</h1>

            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-body">
                        Applications for the hire a new apprentice incentive payment closed on <span class="das-no-wrap">20 May 2022.</span>
                    </p>
                    <p class="govuk-body">
                        <a rel="noopener" class="govuk-link govuk-link--no-visited-state" href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/4403316291090-Incentive-payment-for-hiring-a-new-apprentice-view-your-application" target="_blank">View guidance on incentive payments for hiring a new apprentice (opens in a new tab)</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</main>