@model SFA.DAS.EmployerIncentives.Web.ViewModels.System.ApplicationsClosedModel
@{
    ViewBag.GaData.Vpv = "/apply/applications-closed";
    ViewData["Title"] = Model.Title;
}

<a href="@Model.AccountHomeUrl" class="govuk-back-link" data-linktype="applications-closed-return">Return to account home</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Sorry, applications for incentive payments have closed</h1>

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
        </div>
        <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Applications for the hire a new apprentice incentive payment closed on 20 May 2022. 
        </p>
        <p class="govuk-body"> 
        View applications submitted before the deadline and change your payment details in your apprenticeship account.
        </p>
        <a class="govuk-link--no-visited-state" href="/v31/select-legal-entity-hub">View your hire a new apprentice payments</a>
      </div>
</div>

<a class="govuk-link--no-visited-state" href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/4403316291090-Incentive-payment-for-hiring-a-new-apprentice-view-your-application" target="_blank">View guidance on incentive payments for hiring a new apprentice (opens in a new tab)</a>
</div>
</div>

</main>
