@{
	ViewBag.GaData.Vpv = "/service-closed";
	ViewData["Title"] = "Hire a new apprentice payments can no longer be managed online";
}
          
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Hire a new apprentice payments can no longer be managed online</h1>

			<p class="govuk-body">
				<a rel="noopener" class="govuk-link govuk-link--no-visited-state" href="https://help.apprenticeships.education.gov.uk/hc/en-gb" target="_blank">Get help with the apprenticeship service</a> if you need to speak to someone about these payments.
			</p>
		</div>
	</div>
