@model SFA.DAS.EmployerIncentives.Web.ViewModels.System.SystemUpdateModel
@{
    ViewBag.GaData.Vpv = "/apply/system-update";
    ViewBag.Title = "Sorry, the service is being updated – apply for a new apprentice payment – GOV.UK";
    ViewBag.HideNav = true;
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Sorry, the service is being updated
            </h1>
            <p class="govuk-body">
                The service is currently being updated and will be available later today. Once the update is finished, you can apply for new apprentices who joined your organisation from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 September 2021</span>.
            </p>
            <p class="govuk-body">
                Please come back later and submit your application.
            </p>
            <p class="govuk-body">
                You can no longer apply for apprentices who joined your organisation from <span class="das-no-wrap">1 August 2020</span> to <span class="das-no-wrap">31 March 2021</span>.
            </p>

            <a class="govuk-button" href="@Model.AccountHomeUrl">
                Return to account home
            </a>
        </div>
    </div>
</main>
