@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.TakenOnCannotApplyViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/apply/cannot-apply";
    ViewData["ZenDeskLabels"] = "ei-nocommitments";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @Model.Title
            </h1>
            <p class="govuk-body">
                You can only apply for this payment if you have new apprentices with a planned start date from <span class="das-no-wrap">1 August 2020</span> to <span class="das-no-wrap">31 March 2021</span>.
            </p>
            <p class="govuk-body">
                If you have apprentices who are eligible for this payment, you'll need to
                <a class="govuk-link" href="@Model.AddApprenticesUrl">
                    add them to your apprenticeship service account.
                </a>
            </p>
        </div>
    </div>
</main>