@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.CannotApplyViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["ZenDeskLabels"] = "ei-noeligible";
    ViewBag.GaData.Vpv = "/apply/cannot-apply";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @Model.Title
            </h1>
            <p class="govuk-body">
                You cannot apply for this payment because you do not have any new apprentices who started their contact of employment between 1 August 2020 and 31 January 2021.
            </p>
            <p class="govuk-body">
                <a class="govuk-button" href="@Model.AccountHomeUrl">
                    Return to account home
                </a>
            </p>
        </div>
    </div>
</main>