@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.CannotApplyViewModel

@{
    ViewData["Title"] = Model.Title;
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @Model.Title
            </h1>
            <p class="govuk-body">
                You can only apply for this grant if you have new apprentices who joined your organisation after 1 August 2020.
            </p>
            <p class="govuk-body">
                If you have apprentices who are eligible for this grant, you’ll need to <a class="govuk-link" href="#">add them to your apprenticeship service account.</a>
            </p>
            <a href="#" class="govuk-button">Return to account home</a>
        </div>
    </div>
</main>