@{
    ViewData["Title"] = "We need your organisation's bank details";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel das-panel--featured">
                <h1 class="govuk-panel__title">We need your organisation's bank details</h1>
            </div>
            <h2 class="govuk-heading-m">What happens next</h2>
            <p>We have sent you an email with the link to add your organisation's bank details.</p>
            <p>We cannot make the new apprentice payment until we have your organisation's bank details.</p>
            <h2 class="govuk-heading-m">When you've added the bank details</h2>
            <p>You'll receive the first payment after the apprentice completes 90 days of their apprenticeship and the second payment after 365 days.</p>
            <p>We make payments on the 10th working day of each month.</p>

        </div>
    </div>


</main>