@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.SelectApprenticeships.SelectApprenticeshipsViewModel

@{
    var previousPageIndex = Model.StartIndex - Model.PageSize;
    var nextPageIndex = Model.StartIndex + Model.PageSize;
}

@if(Model.PreviousPages || Model.MorePages)
{
    <nav role="navigation" aria-label="Pagination" class="govuk-!-margin-top-9 govuk-!-margin-bottom-6">
        <p class="govuk-body govuk-!-margin-bottom-2">Showing @Model.StartIndex to @Model.EndIndex of all apprentices</p>
        <p class="govuk-body">
            @if (Model.PreviousPages)
            {
                <button type="submit" id="previousPage" name="requestedStartIndex" value="@previousPageIndex" asp-action="SelectApprenticeships" class="das-button--inline-link govuk-!-margin-right-2">Previous <span class="govuk-visually-hidden">page of apprentices</span></button> 
            }
            @if (Model.MorePages)
            {
                <button type="submit" id="nextPage" name="requestedStartIndex" value="@nextPageIndex" asp-action="SelectApprenticeships" class="das-button--inline-link">Next <span class="govuk-visually-hidden">page of apprentices</span></button>
            }
        </p>
    </nav>
}