@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.SelectApprenticeships.SelectApprenticeshipsViewModel

@{
    var previousPage = Model.CurrentPage - 1;
    var nextPage = Model.CurrentPage + 1;
}

@if(Model.PreviousPages || Model.MorePages)
{
    <nav role="navigation" aria-label="Pagination" class="govuk-!-margin-bottom-4">
        <p class="pagination__summary govuk-body">Showing @Model.StartIndex to @Model.EndIndex of all apprentices</p>
        <ul class="pagination govuk-list">
            @if (Model.PreviousPages)
            {
                <li class="pagination__item previouspage">
                    <button type="submit" id="previousPage" name="pageNumber" value="@previousPage" asp-action="SelectApprenticeships" aria-label="Previous page">Previous</button>
                </li>
            }
            @if (Model.MorePages)
            {
                <li class="pagination__item nextpage">
                     <button type="submit" id="nextPage" name="pageNumber" value="@nextPage" asp-action="SelectApprenticeships" aria-label="Next page">Next</button>
                </li>
            }
        </ul>
    </nav>
}