@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.ValidateTermsSignedViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["ZenDeskLabels"] = "ei-signagreement";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @Model.Title
            </h1>
            <p class="govuk-body">
                To apply for the hire a new apprentice payment, all employers must review and sign a new agreement with the Education and Skills Funding Agency.
            </p>
            <p class="govuk-body">
                The new agreement includes the terms for using the payment and accessing funding through the apprenticeship service.
            </p>
            <p class="govuk-body">
                You must have permission to 'accept agreements' for your organisation
            </p>

            <a href="@Model.AccountsAgreementsUrl" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                View agreement
            </a>

            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="@Model.AccountsHomeUrl">
                    Return to account home
                </a>
            </p>
        </div>
    </div>
</main>