@{
    ViewData["Title"] = "Add your organisation's bank account details";
    ViewBag.GaData.Vpv = "/add-bank-details";
    ViewData["ZenDeskLabels"] = "ei-addbankdetails";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add your organisation's bank account details</h1>
            <p class="govuk-body">We need your organisation's bank account details, so that we can make your hire a new apprentice payment.</p>
            <p class="govuk-body">You can only add one bank account for your organisation. We'll use this account to make all of your payments.</p>

            <h2 class="govuk-heading-m">Before you start</h2>
            <p class="govuk-body">You'll need to give us your:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>contact information</li>
                <li>organisation's address and bank account details</li>
            </ul>

            <div class="govuk-inset-text">We may contact someone from your organisation to verify the information you provide.</div>

            <form asp-action="EnterBankDetails" method="post">
                @Html.AntiForgeryToken()

                <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Continue
                </button>
            </form>

        </div>
    </div>


</main>

