@{
    ViewData["Title"] = "Change your organisation's bank account details";
    ViewBag.GaData.Vpv = "/change-bank-details";
    ViewData["ZenDeskLabels"] = "ei-changebankdetails";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Change your organisation's bank account details</h1>                      

        </div>
    </div>


</main>

