@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.BankDetailsConfirmationViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/need-bank-details";
    ViewData["ZenDeskLabels"] = "ei-addbankdetailsnow";
}

<main class="govuk-main-wrapper " id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-action="BankDetailsConfirmation" method="post">
                @Html.AntiForgeryToken()

                <partial name="ValidationSummary" />

                <h1 class="govuk-heading-l">We need your organisation's bank details</h1>
                <p class="govuk-body">You must add your organisation's bank details, so that we can make the hire a new apprentice payment.</p>
                <p class="govuk-body">You'll need to give us your organisation's:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>legal name, registered address and contact details</li>
                    <li>Companies House number (if your organisation has one)</li>
                    <li>remittance email address</li>
                    <li>finance director or finance lead's contact details</li>
                    <li>bank account details</li>
                </ul>

                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Can you add your organisation's bank details now?
                            </h2>
                        </legend>

                        <p class="govuk-body">If you do not have these details, someone else from your organisation can add them later.</p>
        
                        @if (ViewData.ModelState.ContainsKey(nameof(Model.CanProvideBankDetails)) && ViewData.ModelState[nameof(Model.CanProvideBankDetails)].Errors.Any())
                        {
                            <span class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.CanProvideBankDetails)].Errors.First().ErrorMessage
                            </span>
                        }

                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="CanProvideBankDetails" id="CanProvideBankDetails" type="radio" value="true" />
                                <label class="govuk-label govuk-radios__label" for="CanProvideBankDetails">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="CanProvideBankDetails" id="CanProvideBankDetails-2" type="radio" value="false" />
                                <label class="govuk-label govuk-radios__label" for="CanProvideBankDetails-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Continue
                </button>

            </form>

        </div>
    </div>


</main>