@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.NeedBankDetailsViewModel
@{
    ViewData["Title"] = "Application saved";
    ViewBag.GaData.Vpv = "/complete/need-bank-details";
    ViewData["ZenDeskLabels"] = "ei-needbankdetails";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel das-panel--featured govuk-!-margin-bottom-7">
                <h1 class="govuk-panel__title">Application saved</h1>
            </div>

            <p class="govuk-body">
                We've saved the apprentices that you want to apply for.
            </p>

            <h2 class="govuk-heading-m">What happens next</h2>
            <div class="govuk-inset-text">
                We've sent you an email with the link to <a class="govuk-link" asp-controller="BankDetails" asp-action="AddBankDetails">add your organisation's bank details</a>. We'll complete your application after you add the details.
            </div>

            <h2 class="govuk-heading-m">When you've added the bank details</h2>
            <p class="govuk-body">
                You're eligible for the first payment after the apprentice completes 90 days of their apprenticeship training and the second payment after 365 days.
            </p>
            <p class="govuk-body">
                Before we can make a payment, we need your training provider to confirm whether the apprentice is still on their apprenticeship. Training providers usually submit information about their apprentices at the start of every month.
            </p>
            <p class="govuk-body">
                We'll start making payments from January 2021. It will take longer to get your first payment for any apprentices who start their training in August 2020.
            </p>

            <a href="@Model.AccountHomeUrl" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Return to account home
            </a>
        </div>
    </div>
</main>